{%extends 'base.html'%}

{%block mainblock%}


<div class="continer d-flex justify-content-center mt-5">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
          {{data.name}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{data.mobile_number}}</li>
          <li class="list-group-item">{{data.whatsapp_number}}</li>
          <li class="list-group-item">{{data.email}} </li>
          <li class="list-group-item">{{data.date_of_birth}} </li>
          <li class="list-group-item">{{data.username}} </li>
        </ul>
      </div>
</div>
{%endblock%}